<template>
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <router-link to="/" class="nav-link" v-html="home_link_html"></router-link>
                    <div class="sb-sidenav-menu-heading">Products</div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#products_menus" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        product
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="products_menus" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <router-link to="/product/create" class="nav-link">Add Product</router-link>
                            <router-link to="/product/lists" class="nav-link">View Products</router-link>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Categories</div>
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#categories_menus" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Category
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="categories_menus" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <router-link to="/category/create" class="nav-link">Add Category</router-link>
                            <a class="nav-link" href="layout-sidenav-light.html">View Categories</a>
                        </nav>
                    </div>
                    <!--<a class="nav-link" href="charts.html">-->
                    <!--<div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
                    <!--Charts-->
                    <!--</a>-->
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Start Bootstrap
            </div>
        </nav>
    </div>

</template>

<script>
    export default {
        name: "leftnavbar",
        data(){
            return {
                home_link_html:'<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Dashboard'
            }
        }

    }
</script>

<style scoped>

</style>