<template>
    <section class="categories">
        <div class="container">
            <h1>{{single_product}}</h1>
            <div class="row">
                <div class="categories__slider owl-carousel" v-carousel>
                    <div class="col-lg-3" v-for="product in products">
                        <!--<div class="categories__item set-bg" :data-setbg="'img/product/'+product.image">-->
                        <div class="categories__item set-bg" :data-setbg="'img/product/'+product.image">
                            <h5><a href="#">{{product.name}}</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        name: "Products",
        props:{
            single_product:String,
            allproducts:Array
        },
        data(){
            return {
                products:[],
            }
        },
        created(){
            this.fetchproducts()

        },
        directives: {
            carousel: {
                inserted: function () {
                    $(document).ready(function () {
                        $(".categories__slider").owlCarousel({
                            loop: true,
                            margin: 0,
                            items: 4,
                            dots: false,
                            nav: true,
                            navText: ["<span class='fa fa-angle-left'><span/>", "<span class='fa fa-angle-right'><span/>"],
                            animateOut: 'fadeOut',
                            animateIn: 'fadeIn',
                            smartSpeed: 1200,
                            autoHeight: false,
                            autoplay: true,
                            responsive: {

                                0: {
                                    items: 1,
                                },

                                480: {
                                    items: 2,
                                },

                                768: {
                                    items: 3,
                                },

                                992: {
                                    items:4,
                                }
                            }
                        });
                    });
                }
            }
        },
        methods:{
            fetchproducts(){
                fetch('get/products').then(res=>res.json()).then(res=>{
                    this.products=res;
                });
            }
        }
    }
</script>

<style scoped>

</style>