<template>
    <div class="container">
        <h2>Add New Product</h2>
        <form action="" method="post" id="create_product">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
            </div>
            <div class="form-group">
                <label for="description">Descriptions:</label>
                <textarea class="form-control" id="description" cols="10" rows="10" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" class="form-control" id="price" placeholder="Enter price" name="price">
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" class="form-control" id="quantity" placeholder="Enter quantity" name="quantity">
            </div>
            <button type="button" v-on:click="submitProduct()" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<script>
    export default {
        methods: {
            submitProduct() {
                // Vue.shop_helpers.basicfunction();
                var create_form=$("#create_product");
                if(create_form.valid()){
                    axios.post('/admin/create/product',create_form.serialize()).then(response => {
                    }).catch(error => {
                        // if (error.response.status === 422) {
                        // this.errors = error.response.data.errors || {};
                        // }
                    });
                }
            }
        }

    }
</script>

<style scoped>

</style>