<template>
    <div class="container">
        <h2>Edit Product</h2>
        <form action="" method="post" id="edit_product">
            <div class="form-group">
                <input type="hidden" name="id" v-model="product_id"/>
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" v-model="name">
            </div>
            <div class="form-group">
                <label for="description">Descriptions:</label>
                <textarea class="form-control" id="description" cols="10" rows="10" name="description" v-model="description"></textarea>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" class="form-control" id="price" placeholder="Enter price" name="price" v-model="price">
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" class="form-control" id="quantity" placeholder="Enter quantity" name="quantity" v-model="quantity">
            </div>
            <button type="button" v-on:click="editProduct()" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>
<script>
    export default {
        data(){
          return {
              product_id: this.$route.params.id,
              name: '',
              description: '',
              price: '',
              quantity: '',
          };
        },
        created(){
          this.fetchProduct(this.product_id);
        },
        methods:{
            fetchProduct(product_id){
                fetch('get/single/product/'+product_id).then(res=>res.json()).then(res=>{
                    this.name=res.name;
                    this.description=res.description;
                    this.price=res.price;
                    this.quantity=res.quantity;

                });
            },
            editProduct() {
                var edit_form=$("#edit_product");
                if(edit_form.valid()){
                    axios.post('/admin/update/product',edit_form.serialize()).then(response => {
                        this.$router.push('/product/lists');
                    }).catch(error => {
                        // if (error.response.status === 422) {
                        // this.errors = error.response.data.errors || {};
                        // }
                    });
                }
            }

        }
    }
</script>

<style scoped>

</style>