<template>
   <div class="container-fluid new">
       <Flash></Flash>
       <div class="table-responsive">
           <table class="table table-bordered" id="dataTables" width="100%" cellspacing="0">
               <thead>
               <tr>
                   <th>Name</th>
                   <th>Price</th>
                   <th>Quantity</th>
                   <th>Action</th>
               </tr>
               </thead>
               <tfoot>
               <tr>
                   <th>Name</th>
                   <th>Price</th>
                   <th>Quantity</th>
                   <th>Action</th>
               </tr>
               </tfoot>
               <tbody>
               <tr v-for="product in products">
                   <td>{{product.name}}</td>
                   <td>{{product.price}}</td>
                   <td>{{product.quantity}}</td>
                   <td>
                       <router-link :to="'/product/edit/'+product.id" class="nav-link">Edit product</router-link>
                       <router-link to="/product/lists/information" class="nav-link">View product</router-link>
                       <!--<router-link to="/product/lists" class="nav-link">Delete product</router-link>-->
                   </td>
               </tr>
               </tbody>
           </table>
       </div>
       <router-view></router-view>
   </div>
</template>

<script>
    export default {
        data(){
            return {
                products:[]
            }
        },
        created(){
          this.fetchProducts()
        },
        methods:{
            fetchProducts(){
                fetch('get/products').then(res=>res.json()).then(res=>{
                    this.products=res;

                });
            }
        },
        updated: function () {
            $(document).ready(function () {
                $('#dataTables').DataTable();
            });
        },
        directives: {
            productsLists: {
                inserted: function () {
                    $(document).ready(function () {
                        $('#dataTables').DataTable();
                    });
                }
            }
        },
    }
</script>

<style scoped>

</style>